* {
  box-sizing: border-box;
  margin: 0; /* Setzt den Standard-Margin auf 0 */
  padding: 0; /* Setzt den Standard-Padding auf 0 */
}

.app {
  width: 600px;
  height: 900px;
  display: flex;
  flex-direction: column;
  border: 3px solid #ccc; /* Optional: fügt einen Rahmen hinzu, um die Größe sichtbar zu machen */
  margin-left: 0rem;
}

.header {
  background: linear-gradient(to bottom, rgb(32, 32, 255), green, white);
  border: 1px solid red;
}

.body {
  flex: 1; /* Nimmt den verfügbaren Platz ein */
  overflow-y: auto; /* Scrollbar für den vertikalen Inhalt */
  background-color: rgb(250, 250, 250);
  padding: 10px;
}

.footer {
  background: linear-gradient(to top, rgb(32, 32, 255), green, white);
  color: white;
  text-align: center;
  padding: 2px;
}

.login {
  background: linear-gradient(to bottom, rgb(32, 32, 255), green, white);
  background-color: red;
  text-align: left;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert den Inhalt horizontal */
  justify-content: center; /* Zentriert den Inhalt vertikal */
  color: white;
  padding: 10px; /* Fügt etwas Abstand zum Rand hinzu */
  box-sizing: border-box; /* Stel */
  width: 100%; /* Nimmt die volle Breite des übergeordneten Elements ein */
  height: 100%; /* Nimmt die volle Höhe des übergeordneten Elements ein */
  justify-content: center; /* Horizontale Zentrierung */
}

.App-link {
  color: #61dafb;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.custom-icon {
  font-size: 27px;
  font-weight: bold;
  color: white;
}

.custom-icon:hover {
  opacity: 0.7;
}

.custom-icon:active {
  opacity: 0.3;
}

.header-title {
  border: 1px solid red;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  padding: 8px;
}

/* the sizin of map container */
.leaflet-container {
  height: 100vh;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}