* {
  box-sizing: border-box;
  margin: 0; /* Setzt den Standard-Margin auf 0 */
  padding: 0; /* Setzt den Standard-Padding auf 0 */
}

.app {
  width: 600px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  border: 3px solid #ccc; /* Optional: fügt einen Rahmen hinzu, um die Größe sichtbar zu machen */
  margin-left: 20rem;
}

.header {
  background: linear-gradient(to bottom, rgb(32, 32, 200), green, white);
  color: white;
  padding: 30px;
  text-align: center;
}

.body {
  flex: 1; /* Nimmt den verfügbaren Platz ein */
  overflow-y: auto; /* Scrollbar für den vertikalen Inhalt */
}

.footer {
  background: linear-gradient(to top, rgb(32, 32, 200), green, white);
  color: white;
  padding: 30px;
  text-align: center;
}

.login {
  background: linear-gradient(to bottom, rgb(32, 32, 200), green, white);
  text-align: left;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert den Inhalt horizontal */
  justify-content: center; /* Zentriert den Inhalt vertikal */
  color: white;
  padding: 10px; /* Fügt etwas Abstand zum Rand hinzu */
  box-sizing: border-box; /* Stel */
  width: 100%; /* Nimmt die volle Breite des übergeordneten Elements ein */
  height: 100%; /* Nimmt die volle Höhe des übergeordneten Elements ein */
  justify-content: center; /* Horizontale Zentrierung */
}

.App-link {
  color: #61dafb;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}
